@use './variables' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: $ff-base;
    min-height: 100vh;
}

picture,
img {
    display: block;
    max-width: 100%;
}

button {
    background: none;
    display: block;
    font: inherit;
    border: none;
    outline: none;
}