@use './variables' as *;

footer {
    background-color: #91d5c6;
    padding: 4em 3em;
    text-align: center;
    display: grid;
    gap: 3rem;

    ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        font-family: $ff-secondary;
        color: $clr-dark-desaturated-cyan;
    }

    .logo img {
        display: inline;
    }

    .social-links {
        display: flex;
        margin-inline: auto;
        gap: 2rem;
    }

    .social-links img:hover,
    li:hover {
        color: $clr-white;
        cursor: pointer;
    }
}