@use './variables' as *;

header {
    background-image: url(https://hamdi4-beep.github.io/sunnyside-agency-landing-page-main/images/mobile/image-header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
    height: 100vh;

    nav {
        padding: 2em 1.5em;
        display: flex;
        justify-content: space-between;
    }

    .nav-items {
        position: absolute;
        right: 1.5rem;
        width: calc(100% - 3rem);
        padding: 1.5em;
        margin-top: calc(2em + 20px);
        background-color: white;
        list-style-type: none;
        display: grid;
        justify-content: center;

        li {
            padding: .8em 1.3em;
            text-align: center;
            border-radius: 50px;
            font-family: $ff-secondary;
            color: $clr-grayish-blue;
            
            &:hover {
                background-color: $clr-yellow;
                color: $clr-dark-desaturated-blue;
                font-weight: $fw-900;
            }
        }

        &::before {
            position: absolute;
            top: -20px;
            content: '';
            display: block;
            border-left: 20px solid transparent;
            border-bottom: 20px solid white;
            justify-self: flex-end;
        }
    }

    .content {
        text-align: center;
        margin-top: 5em;
    }

    .arrow-down {
        margin-inline: auto;
        margin-top: 3em;
    }

    .big-text {
        font-family: $ff-base;
        font-size: 3rem;
        text-transform: uppercase;
        color: $clr-white;
        letter-spacing: .5rem;
    }
}