@use './variables' as *;

header {
    position: relative;
    color: $clr-white;

    nav {
        position: absolute;
        width: 100%;
        padding: 1.2em;
        display: flex;
        top: 0;
        justify-content: space-between;
    }

    .nav-icon {
        cursor: pointer;
    }

    .nav-items {
        font-family: $ff-secondary;
        display: none;
        color: $clr-grayish-blue;
    }

    .content {
        text-align: center;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        padding: 1.2em;
        transform: translate(-50%, -50%);

        img {
            display: inline;
        }

        h1 {
            font-family: $ff-base;
            font-size: 3.3rem;
            line-height: 1;
            text-transform: uppercase;
            margin-bottom: 1em;
            letter-spacing: .5rem;
        }
    }
}