@use './variables' as *;

main {

    .content {
        padding: 3.3em 2em;
        text-align: center;

        .cta-btn {
            position: relative;
            text-transform: uppercase;
            margin-inline: auto;
            font-weight: $fw-900;

            &.first:hover::after {
                background-color: $clr-yellow;
            }

            &.second:hover::after {
                background-color: $clr-soft-red;
            }

            &.first::after,
            &.second::after {
                position: absolute;
                z-index: -1;
                left: -.3em;
                bottom: .01em;
                content: '';
                display: block;
                height: .5em;
                width: calc(100% + .6em);
                opacity: .5;
                border-radius: 30px;
            }
        }

        h2 {
            font-size: 2rem;
            font-weight: $fw-900;
            line-height: 1;
        }

        p {
            font-family: $ff-secondary;
            margin-block: 1.5em;
            color: $clr-dark-moderate-cyan;
        }
    }

    .unique {
        display: grid;
        position: relative;

        .content {
            position: absolute;
            align-self: bottom;
            bottom: 0;
        }

        &.graphic-design {
            color: $clr-dark-desaturated-cyan;
        }

        &.photography {
            color: $clr-dark-desaturated-blue;
        }
    }

    .testimonials {
        text-align: center;
        padding: 3.3em 2em;
        display: grid;
        gap: 4rem;

        h3 {
            text-transform: uppercase;
            letter-spacing: .2rem;
            color: $clr-grayish-blue;
        }

        p {
            font-family: $ff-secondary;
            color: $clr-very-dark-grayish-blue;
            line-height: 1.5;
        }

        .client-img {
            width: 5rem;
            height: 5rem;
            margin-inline: auto;
            margin-bottom: 2em;
            border-radius: 50%;
            overflow: hidden;
        }

        .client-name {
            font-family: $ff-base;
            font-weight: $fw-900;
            display: block;
            margin-top: 2em;
            margin-bottom: .5em;

            & ~ span {
                font-family: $ff-secondary;
                font-weight: lighter;
                color: $clr-grayish-blue;
                font-size: 1rem;
            }
        }
    }

    .thumbnails-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}