@use './variables' as *;

main {

    .content {
        padding: 3.3em 2em;
        text-align: center;

        .cta-btn {
            position: relative;
            text-transform: uppercase;
            margin-inline: auto;
            font-weight: $fw-900;

            &.first::after {
                background-color: $clr-yellow;
            }

            &.second::after {
                background-color: $clr-soft-red;
            }

            &.first::after, &.second::after {
                position: absolute;
                z-index: -1;
                left: -.3em;
                bottom: .01em;
                content: '';
                display: block;
                height: .5em;
                width: calc(100% + .6em);
                opacity: .5;
                border-radius: 30px;
            }
        }

        h2 {
            font-size: 2.3rem;
            line-height: 1;
        }

        p {
            font-family: $ff-secondary;
            margin-block: 1.3em;
            color: $clr-dark-moderate-cyan;
        }
    }
}