@use './variables' as *;

main {

    section {
        display: flex;
        flex-direction: column;
        text-align: center;

        h2 {
            font-family: $ff-base;
            font-size: 2.5rem;
            color: $clr-dark-desaturated-blue;
        }

        p {
            color: $clr-grayish-blue;
            line-height: 1.8;
        }
    }

    .content {
        display: grid;
        padding: 4em 3em;
        outline: 1px solid blue;

        h2 {
            margin-bottom: .8em;
        }

        button {
            margin-top: 2.5em;
            font-weight: $fw-900;
            text-transform: uppercase;
        }
    }
}