@media (min-width: 768px) {

    header {

        nav {
            align-items: center;
        }
        
        .nav-items {
            display: flex;
            gap: 2rem;
            font-weight: lighter;

            li {
                padding: .5em 1em;
                line-height: 1;
            }

            li:last-child {
                background-color: white;
                color: black;
                border-radius: 50px;
            }
        }

        .nav-icon {
            display: none;
        }
    }

    article {
        width: 100%;

        section {
            display: flex;

            picture,
            img {
                width: 100%;
                height: 100%;
            }

            & > * {
                flex: 1;
            }

            &.first {
                outline: 1px solid blue;
                flex-direction: row-reverse;
            }

            .content {
                display: grid;
                place-content: center;
                padding: 0;
                text-align: left;

                .cta-btn {
                    display: inline-block;
                    margin-left: 0;
                }

                .inner-wrapper {
                    padding: 3em;
                }
            }
        }
    }

    .flex {
        outline: 1px solid green;
        display: flex;

        .content {
            outline: 1px solid green;
            text-align: center;
            padding-inline: 2em;
        }
    }

}